#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# ModChromiecraftSmartstone configuration
########################################
#
#    ModChromiecraftSmartstone.Enable
#        Description: Enable my module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModChromiecraftSmartstone.Enable = 1

#    ModChromiecraftSmartstone.ItemID
#        Description: Item entry from item_template used as SmartStone.
#        Default:     32547
#

ModChromiecraftSmartstone.ItemID = 32547

#
#    ModChromiecraftSmartstone.Features.BarberDuration
#        Description: Sets the duration for the Barbershop Chair feature (in seconds).
#        Default:     300 Seconds (5 minutes)
#

ModChromiecraftSmartstone.Features.BarberDuration = 300


#
#    ModChromiecraftSmartstone.CanUseInArena
#        Description: Sets whether the SmartStone can be used in arenas.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModChromiecraftSmartstone.CanUseInArena = 0

#
#    ModChromiecraftSmartstone.CanUseInBG
#        Description: Sets whether the SmartStone can be used in battlegrounds.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModChromiecraftSmartstone.CanUseInBG = 0

#
#    ModChromiecraftSmartstone.CanUseInCombat
#        Description: Sets whether the SmartStone can be used in combat.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModChromiecraftSmartstone.CanUseInCombat = 0

#
#    ModChromiecraftSmartstone.CanUseInPvP
#        Description: Sets whether the SmartStone can be used in PvP.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModChromiecraftSmartstone.CanUseInPvP = 0

#
#    ModChromiecraftSmartstone.IndividualCostumeCooldowns
#        Description: When enabled, each costume has its own cooldown instead of sharing a global cooldown.
#        Default:     0 - Disabled (all costumes share the same cooldown)
#                     1 - Enabled (each costume has its own independent cooldown)
#

ModChromiecraftSmartstone.IndividualCostumeCooldowns = 0

# 
#    ModChromiecraftSmartstone.Debug
#        Description: Enables all Smartstone features by default.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModChromiecraftSmartstone.Debug = 0
