#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# ModChromiecraftSmartstone configuration
########################################
#
#    ModChromiecraftSmartstone.Enable
#        Description: Enable my module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ModChromiecraftSmartstone.Enable = 1

#
#    ModChromiecraftSmartstone.Features.BarberDuration
#        Description: Sets the duration for the Barbershop Chair feature (in seconds).
#        Default:     300 Seconds (5 minutes)
#

ModChromiecraftSmartstone.Features.BarberDuration = 300
